  * {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: "Lato";
}

button {
  cursor: pointer;
  border: none;
}

section {
  /* padding: 100px; */
  /* padding-bottom: 100px; */
  padding: calc(30px + (100 - 30)*((100vw - 320px) / (1170 - 320)));
}

.wrap {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.header {
  background: url(../img/bgfon.png) repeat right;
  background-size: cover;
  overflow: hidden;
  /* height: 900px; */
  position: relative;
}

.header .list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}



.burger.active {
  transform: rotate(90deg);
}

body.lock {
  overflow: hidden;
}

.scrol {
  position: fixed;
  height: 80px;
  /* width: 100%; */
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.322);
  transition: 0.5s;
  padding: 5px;
  /* transform: scale(1) */
}

.scrol .img {
  transform: scale(0.6);
  transition: 0.8s;
}

.scroll-id {
  transition: .3s
}

.scroll-id:hover {
  color: #d5423a;
  font-weight: 700;
  transform: scale(1.1);
}

.scrol:hover {
  background: #ccc;
}

.mobil {
  position: fixed;
  width: 100%;
  display: none;
  background: #fff;
}

.burger {
  transition: 0.5s;
}

.caption {
  text-align: center;
  text-transform: uppercase;
  /* margin-top: 170px; */
  padding: calc(90px + (170 - 90)*((100vw - 320px) / (1170 - 320)));
}

.caption .h1 {
  font-weight: 300;
  /* font-size: 70px; */
  font-size: calc(30px + (70 - 30)*((100vw - 320px) / (1170 - 320)));
}

.caption .h1 b {
  font-weight: 900;
  color: #d5423a;
}

.btn-red {
  display: inline-block;
  padding: 20px 50px;
  border-radius: 50px;
  margin: 50px 0;
  color: #d5423a;
  border: 3px solid #d5423a;
  background: linear-gradient(25deg, #d5423a 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 400ms ease-in-out;
}

.btn-red:hover {
  color: #fefefffb;
  background-position: 0%;
 
}

.section-are {
  text-align: center;
}

.bottom-line {
  text-transform: uppercase;
  /* font-size: 55px; */
  font-size: calc(35px + (55 - 35) * ((100vw - 320px) / (1170 - 320)));
  font-weight: 300;
}

.bottom-line:after {
  content: '';
  height: 2px;
  background-color: #d5423a;
  width: 150px;
  display: block;
  margin: 20px auto 30px;
}

.text {
  font-family: "Source Sans Pro";
  max-width: 900px;
  display: inline-block;
}

/* section-tour */
.section-tour {
  background-color: #f6f6f6f8;
  text-align: center;
}

.section-tour .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 130px;
  grid-gap: 95px;
}

.section-tour .image {
  height: 90px;
}

/* end section-tour */
.title-red {
  color: #d5423a;
  text-transform: uppercase;
  padding: 25px;
}

/* section-slider */
.section-slider .image {
  width: 130px;
  margin: 80px auto 30px;
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.section-slider .owl-next,
.section-slider .owl-prev {
  position: absolute;
  top: 50%;
  left: 10%;
}

.section-slider .owl-next {
  left: initial;
  right: 10%;
}

.section-slider .fa {
  font-size: 80px;
  color: #ccc;
}

.section-slider .text {
  max-width: 570px;
}

.section-slider .slider .owl-dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  margin: 3px;
}

.section-slider .slider .owl-dot.active {
  background: #d5423a;
}

/* end section-sider */
/*  section-event */
.section-event {
  background: url(../img/bgfon2.png)  repeat;
  background-size: cover;
  animation: event 80s linear infinite;
}

@keyframes event {

  100% {
    background-position: -300px 0px;
  }
  
}

.section-event .h2 {
  color: #fff;
}

.section-event .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.section-event .card img {
  /* height: 300px; */
  /* width: 370px; */
  /* width: 100%; */
  display: block;
}

.section-event .img-card {
  position: relative;
  padding: 30px 30px 40px;
  background: rgba(0, 0, 0, .5);
  text-align: left;
}

.section-event .title {
  text-transform: uppercase;
  color: #d5423a;
}

.section-event ul {
  padding-top: 25px;
}

.section-event li {
  color: #fff;
  padding-bottom: 10px;
}

.section-event .card .fa {
  padding-right: 10px;
}

.section-event .fa.fa-plus {
  position: absolute;
  color: #fff;
  right: 0;
  bottom: 0;
  background-color: #d5423a;
  padding: 15px;
  border-top-left-radius: 90%;
}

/* end section-event */
/*  section-contact */
.section-contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  font-family: "Source Sans Pro";
  position: relative;
}

.section-contact input {
  border: none;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.section-contact textarea {
  grid-column: 1/3;
  border: none;
  border-bottom: 1px solid #ccc;
  resize: vertical;
  padding: 10px;
  margin-top: calc(10px + (55 - 10)*((100vw - 320px) / (1170 - 320)));
}

.section-contact .btn-red {
  padding: 15px 90px;
}

.section-contact .send {
  grid-column: 1/3;
  position: relative;
}


.spinner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #626262
}

.fa-pulse {
  color: #d5423a;
  padding: 20px;
}

/* end section-contact */
.footer {
  display: flex;
  background-color: black;
  justify-content: space-between;
}

.footer-text {
  font-family: "Source Sans Pro";
  color: #626262;
  font-size: 12px;
  padding: 30px;
}

@media(max-width:992px) {
  .section-event .card .image {
    height: 200px;
  }

  .section-event .img-card {
    padding: 20px 20px 20px;
  }
}

@media(max-width:768px) {
  .nav {
    padding-top: 20px;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 80%;
    overflow: auto;
    background: #fff;
    transition: 0.5s;
    z-index: 2;
  }

  .nav.active {
    top:  0;
  }

  .scrol:hover {
    background: none;
  }

  .mobil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
  }

  .mobil img {
    width: 80px;
    padding-left: 15px;
  }

  .mobil .burger {
    padding-right: 15px;
  }

  .nav img {
    display: none;
  }

  .header .list {
    display: block;
    margin-top: 40px;
    font-size: 20px;
  }

  .scrol {
    position: static;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px;
  }



  .header .nav a {
    padding: 5px;
  }

  .caption .btn-red {
    font-size: 12px;
    padding: 10px 40px;
  }

  .caption {
    padding-top: 135px;
  }

  .bottom-line::after {
    width: 80px;
  }

  .section-tour .cards {
    grid-template-columns: 1fr 1fr;
  }

  .section-event .cards {
    grid-template-columns: 1fr;
  }

  .section-event .card {
    width: 400px;
    /* height: 300px; */
    /* padding: 30px; */
    margin: auto;
  }

  .section-event .card img {
    width: 100%;
  }
}

@media(max-width: 576px) {
  .header {
    background: url(../img/bgfon.png) no-repeat bottom;
  }

  .section-contact form {
    grid-template-columns: 1fr;
  }

  .section-contact form .send {
    grid-column: 1/1;
  }

  .section-contact textarea {
    grid-column: 1/1;
    /* margin-top: 10px; */
  }

  .section-event .card {
    width: 300px;
  }

  .section-event .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .section-tour .cards {
    grid-template-columns: 1fr;
  }

}

@media(max-width:320px) {

  .header {
    background: url(../img/bgfon.png) no-repeat bottom;

  }

  .section-event .card {
    width: 250px;
    padding: 0 10px 0 0px;
  }

  .section-slider .owl-next,
  .section-slider .owl-prev {
    top: 20%;
  }

  .section-slider .fa {
    font-size: 50px;
  }
}